---
#layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}


{% block extraArticleHeader %}
   {% set wc = content | striptags | wordcount %}
   {% set wPerMinute = (wc / 240) + 1 %}
<aside class="text-muted text-sm">
  {{ wPerMinute | round }} min read.
</aside>
{% endblock %}

{% set shareUrl = metadata.url + page.url %}

{% block article %}
{{ content | safe }}

<div class="mt-8 p-4 bg-primary/10 rounded-lg text-center">
  <h2 class="font-bold text-lg mb-2">🙏🙏🙏</h2>
  <p>
    Since you've made it this far, <a href="{{ shareUrl | safe }}" on-click="share" class="text-primary hover:underline">sharing</a> this article on your favorite social media network 
    would be highly appreciated 💖! For feedback, please 
    <a href="https://twitter.com/{{ metadata.author.twitterHandle }}" target="_blank" rel="noopener" class="text-primary hover:underline">ping me on Twitter.</a>
  </p>
  <share-widget>
    <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}" class="mt-4 bg-primary text-white font-bold py-2 px-4 rounded-full hover:bg-primary-dark transition-colors">
      Share this article
    </button>
  </share-widget>
</div>


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "https://blog.optimizewithmunir.com/"
  },{
    "@type": "ListItem",
    "position": 2,
    "name": "{{ title }}",
    "item": "{{ metadata.url }}{{ canonicalUrl or page.url }}"
  }]
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": "{{ metadata.author.name }}", 
  "genre": "{{ metadata.genre }}", 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}
